@charset "utf-8";

@font-face {
    font-family: 'notosansbold';
    src: url(../font/Noto_Sans/NotoSans-Bold.ttf);
}

@font-face {
    font-family: 'notosans';
    src: url(../font/Noto_Sans/NotoSans-Regular.ttf);
}

@font-face {
    font-family: 'notosanskr';
    src: url(../font/NotoSansKR-Regular.otf);
}

@font-face {
    font-family: 'lemon';
    src: url(../font/lemon_milk/LEMONMILK-Bold.otf);
}

@font-face {
    font-family: 'lemonl';
    src: url(../font/lemon_milk/LEMONMILK-Light.otf);
}

html {
    height: 100%;
}

* {
    box-sizing: border-box;
}

ul,
li {
    list-style: none;
}

body {
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
}

input,
textarea {
    padding: 15px;
}

a {
    color: black;
    text-decoration: none;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    max-width: 100vw;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.1);
    margin: auto;
    z-index: 1000;
}

.top {
    width: 100%;
    display: flex;
    line-height: 100px;
    justify-content: space-between;
    margin: 0 20px auto;
}

nav {
    position: relative;
    width: 100%;
}

.gnb {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    width: 100%;
    text-align: center;
}

.gnb>li {
    width: calc(100% / 7);
    /* padding-left: 70px; */
    display: flex;
    text-align: center;
    text-align: center;
    align-items: center;
    justify-content: center;
    
}
.gnb>li.on {
    transform: scale(1.2);
}

.gnb>li>a {
    color: white;
    font-family: 'notosans';
    font-size: 18px;
    line-height: 100px;
    transition: .4s;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: block;
}

.gnb>li>a:hover {
    transform: scale(1.2);
    transition: .4s;
}

.logo {
    width: 200px;
}

.logo>img {
    width: 100%;
    line-height: 100px;
    padding-top: 23px;
}

section {
    max-width: 100%;
    width: 100vw;
    height: 100vh;
}
.sec1 {
    overflow: hidden;
}
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide3>img {
    display: block;
    /* height: 100%; */
    width: 100%;
    object-fit: cover;
}
.lang {
    color: white;
    font-family: 'notosans';
    line-height: 100px;
    width: 200px;
    justify-content: center;
    text-align: center;
    
}

.lang>a {
    color: white;
    font-family: 'notosans';
    font-size: 16px;
}
.lang>a>img {
    width: 20px;
}

.text {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    height: 50%;
}
.swiper-slide>h1 {
    position: absolute;
    top: 35%;
    left: 50%;
    color: white;
    font-size: 100px;
    transform: translateX(-50%);
    font-family: 'lemon';
    width: 100%;
    text-align: center;
}

.text>span:nth-of-type(1) {
    position: absolute;
    top: 27%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 100px;
    animation: up 16s 1s forwards;
    opacity: 0;
    font-family: 'lemon';
    font-weight: 700;
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
}

.text>span:nth-of-type(1)::after {
    content: "";
    position: absolute;
    left: 22.1%;
    top: 100%;
    border: 1px solid white;
    width: 530px;
    text-align: center;
    align-items: center;
    animation: up 16s 1s forwards;
    opacity: 0;
}

.text>span:nth-of-type(2) {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 2.25em;
    animation: up 13s 4s forwards;
    opacity: 0;
    font-family: 'lemonl';
    padding-top: 45px;

}

.text>span:nth-of-type(3) {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 2.25em;
    animation: up 13s 4s forwards;
    opacity: 0;
    font-family: 'lemonl';
    padding-top: 45px;

}
@keyframes up {
    0% {
        opacity: 0;
    }

    75% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.more {
    z-index: 500;
    position: absolute;
    width: 80px;
    height: 80px;
    right: 10%;
    bottom: 10%;
    border: 3px solid white;
    border-radius: 50px;
    animation: more 5.5s 9.5s;
    opacity: 0;
}

@keyframes more {
    0% {
        opacity: 0;
    }
    70% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.more::before,
.more::after {
    content: '';
    position: absolute;
    top: 20%;
    left: 50%;
    border: 2px solid white;
    height: 10px;
    width: 10px;
    transform: translate(-50%, -50%) rotate(45deg);
    border-top: transparent;
    border-left: transparent;
    animation: movearrow 1s ease-in-out infinite;
}

.more::after {
    top: 30%;
    animation-delay: 0.3s;
}

@keyframes movearrow {
    0% {
        opacity: 0;
    }

    30% {
        opacity: 1;
    }

    60% {
        opacity: 1;
    }

    100% {
        opacity: 1;
        top: 90%;
    }
}

.sec2 {
    position: relative;
    background-image: url(../img/sec2bg.jpg);
    background-size: cover;
    background-color: rgba(29, 52, 35, 0.8);
}

.sec2>h1 {
    position: absolute;
    top: 10%;
    color: white;
    font-size: 50px;
    z-index: 500;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'notosansbold';
}

.sec2>p {
    position: absolute;
    top: 19%;
    color: white;
    font-size: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 500;
    text-align: center;
    line-height: 2.25;
    font-family: 'notosans';
    width: 60%;

}

.sec2logo {
    position: absolute;
    z-index: 600;
    top: 54%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 32%;
}
.sec2logo>img {
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.sec2>.damn {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 50%;
    z-index: 500;
    margin: auto;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.filter {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(74, 124, 97, 0.8);
    z-index: 1;
}

.sec3 {
    background-color: white;
    position: relative;
}

.sec3>.year {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 50%;
    max-width: 1000px;
    width: 100%;
    margin: auto;
}

.sec3>h1 {
    position: absolute;
    top: 10%;
    color: black;
    font-size: 50px;
    z-index: 500;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'notosansbold';
}

.sec3>p {
    position: absolute;
    top: 20%;
    color: black;
    font-size: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 500;
    text-align: center;
    line-height: 2.25;
    font-family: 'notosans';
}

.banner_list {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    height: 100%;
    overflow: hidden;
}

.banner {
    width: calc(100%/4);
    height: 400px;
    position: relative;
    overflow: hidden;
}

.back {
    position: absolute;
    width: 91.9%;
    background-color: black;
    height: 100px;
    z-index: 100;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10%;
    color: white;
    text-align: center;
    line-height: 100px;
    font-size: 26px;
    /* transition: 0.4s; */
    font-family: 'notosansbold';
}

.front {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
    /* transition: .4s; */
}

.front>span:nth-of-type(1) {
    overflow: hidden;
}

.front img {
    width: 100%;
}

/* .front:hover {
    transform: scale(1.2);
    transition: .4s;
} */

.front span {
    display: block;
    text-align: center;
    padding-top: 30px;
    color: white;
    font-weight: bold;
    font-size: 32px;
}

.front span:nth-of-type(2) {
    /* background-color: black; */
    margin: 0 10px 0 10px;
    height: 80px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.sec4 {
    background-color: rgb(21, 65, 23);
    position: relative;
    height: 2160px;
    background-image: url(../img/Rectangle\ 65.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sec4>.korea {
    position: absolute;
    top: 22%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 35%;
    z-index: 500;
}

.sec4>.korea>h1 {
    position: absolute;
    font-size: 50px;
    top: 1%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-family: 'notosansbold';
}

.korea>p {
    position: absolute;
    font-size: 20px;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    text-align: center;
    line-height: 30px;
    width: 110%;
    font-family: 'notosans';
    line-height: 2.25;
}

.korea>img {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    width: 48%;
}

.sec4>.world {
    position: absolute;
    top: 72%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 35%;
    z-index: 500;
}

.sec4>.world>h1 {
    position: absolute;
    font-size: 50px;
    top: 1%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-family: 'notosansbold';
}

.world>p {
    position: absolute;
    font-size: 20px;
    top: 13%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    text-align: center;
    line-height: 2.25;
    width: 110%;
    font-family: 'notosans';
}

.world>img {
    position: absolute;
    width: 130%;
    top: 68%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* .sec4>div>h1 {
    position: absolute;
    font-size: 4em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
} */

.sec5 {
    background-color: rgb(241, 241, 241);
    position: relative;
}

.sec5>div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 50%;
}

.sec5>h1 {
    position: absolute;
    font-size: 50px;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    color: black;
    width: 100%;
    text-align: center;
    font-family: 'notosansbold';
}

.sec5>p {
    position: absolute;
    top: 20%;
    color: black;
    font-size: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 500;
    text-align: center;
    line-height: 2.25;
    font-family: 'notosans';
}

.sec5>.logocon {
    position: absolute;
    z-index: 600;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logocon>a {
    width: 100%;
    height: 100%;
}

.logocon>a>.lamb {
    position: absolute;
    top: 25%;
    left: 14%;
}

.logocon>a>.urban {
    position: absolute;
    top: 30%;
    left: 66%;
}

.sec5>.damn2 {
    position: absolute;
    top: 55%;
    left: 62%;
    transform: translate(-50%, -50%);
    width: 25%;
    height: 50%;
    z-index: 500;
    margin: auto;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.sec5>.damn4 {
    position: absolute;
    top: 55%;
    left: 37.5%;
    transform: translate(-50%, -50%);
    width: 25%;
    height: 50%;
    z-index: 500;
    margin: auto;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide2 {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide2>img {
    display: block;
    /* height: 100%; */
    width: 100%;
    object-fit: cover;
}

.urban,
.lamb {
    transition: .4s;
}

.urban:hover {
    transform: scale(1.3);
    transition: .4s;
}

.lamb:hover {
    transform: scale(1.3);
    transition: .4s;
}

.sec6 {
    background-color: white;
    position: relative;
}

.sec6>div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 50%;
}

.sec6>h1 {
    position: absolute;
    font-size: 50px;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-family: 'notosansbold';
}

.sec6>p {
    position: absolute;
    top: 19%;
    color: black;
    font-size: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 500;
    text-align: center;
    line-height: 2.25;
    font-family: 'notosans';
}

.sec6>div>img {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 110%;
}

.sec7 {
    background-color: rgb(241, 241, 241);
    position: relative;
}

.sec7>h1 {
    position: absolute;
    font-size: 50px;
    top: 12%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-family: 'notosansbold';
}

.sec7>p {
    position: absolute;
    top: 19%;
    color: black;
    font-size: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 500;
    text-align: center;
    line-height: 2.25;
    font-family: 'notosans';
}

#container {
    width: 50%;
    height: 65%;
    position: absolute;
    top: 25%;
    left: 25%;
    font-family: 'notosansbold';
}

select {
    width: 100%;
}

#box1,
#box2 {
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
    top: 5%;
}

#mail {
    width: 50%;
    height: 30px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#box1 {
    background-color: rgb(241, 241, 241);
}

#box2 {
    background-color: rgb(241, 241, 241);

}

#box1.on,
#box2.on {
    display: block;
}

.container {
    width: 100%;
    margin: auto;
}

.form-item {
    display: grid;
    padding-top: 10px;
    background-color: rgb(241, 241, 241);
}

button {
    width: 100%;
    position: relative;
    color: white;
    background-color: rgb(31, 90, 31);
    padding: 15px;
    font-size: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    font-family: 'notosans';
}

.goupbtn {
    top: 60%;
    left: 80%;
    width: 50px;
    height: 50px;
    border-radius: 80%;
    background-color: #ffffff;
    border: red 3px solid;
    position: fixed;
    z-index: 800;
}

footer>p {
    height: 100px;
    line-height: 100px;
    text-align: center;
    background-color: black;
    color: white;
    font-size: 14px;
    font-family: 'notosans';
}

.go-top {
    position: fixed;
    text-decoration: none;
    color: white;
    background-color: rgba(0, 0, 0, 1);
    font-size: 12px;
    padding: 1em;
    display: none;
    z-index: 800;
    right: 3%;
    bottom: 5%;
    width: 50px;
    height: 50px;
}
@keyframes more {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
.go-top::before,
.go-top::after {
    content: '';
    position: absolute;
    top: 60%;
    left: 50%;
    border: 2px solid white;
    height: 20px;
    width: 20px;
    transform: translate(-50%, -50%) rotate(45deg);
    border-bottom: transparent;
    border-right: transparent;
}
@keyframes movearrow2 {
    0% {
        opacity: 1;
    }

    30% {
        opacity: 0;
    }

    60% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.go-top:hover {
    background-color: rgba(0, 0, 0, 0.6);
}